.list{
    color: black;
    width: 400px;
    margin: 10px auto;
    height: 50px;
    background-color: #38c5c5;
    border-radius: 5px;
}
.list li{
    list-style: none;
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}
.list-item span{
    position: absolute;
    right: 10px;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
}
.itemsAnim-enter{
    opacity: 0.01;
}
.itemsAnim-enter .itemsAnim-enter-active{
    opacity: 1;
    transition: opacity 300ms ease-in
}
.itemsAnim-leave{
    opacity: 1;
}
.itemsAnim-leave .itemsAnim-leave-active{
    opacity: 0.01;
    transition: opacity 300ms ease-in
}
@media (max-width:768px){
    .list{
        width: 90%;
    }
}